
.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 10px;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}


/* Add this to your existing CSS */
@media (hover: none) {

    .card:active img,
    .card:focus img {
        transform: scale(1.2, 1.2);
    }

    .card-img-wrapper:active .member-icons,
    .card-img-wrapper:focus .member-icons {
        bottom: 10px;
        opacity: 1;
    }
}